@page
@model IEnumerable<ECommerceWebsite.Models.Product>
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
<ul>
    @foreach (var product in Model)
    {
        <li>@product.Name - @product.Price.ToString("C")</li>
    }
</ul>
